@charset "UTF-8";

body {
	font-family:  -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	color: #333;
}
.main_img p,
.experience_img h3,
.experience_copy {
	font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
h2 {
	padding: 10px 0 10px 10px;
	background: #ffc5d2;
	border-left: solid 5px #666;
	font-size: 4.2vw;
	font-weight: bold;
}
input,
select,
textarea {
	padding: 8px 10px 5px;
	border: solid 1px #333;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #ccc inset;
	font-size: 17px;
}
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}
a {
	text-decoration: none;
}

/* header */

header {
	padding: 0 3%;
	width: 94%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	line-height: 1.1;
	position: fixed;
	z-index: 10;
}
.company {
	width: 80%;
	display: flex;
	align-items: center;
}
.logo {
	width: 19%;
}
.logo img {
	width: 100%;
	border-radius: 5%;
}
.title_text {
	width: 81%;
	text-align: center;
}
.title_text h1 {
	font-family: 'Anton', sans-serif;
	font-size: 6.5vw;
}
.title_text p {
	font-size: 2.2vw;
}
.request_btn {
	width: 20%;
	max-width: 116px;
	max-height: 70px;
	background: linear-gradient(#777, #000 , #777);
	border-radius: 3px;
	font-size: 3vw;
	text-align: center;
	line-height: 6vw;
}
.request_btn span {
	font-size: 4vw;
	text-shadow: 0 0 5px #ccc, 0 0 10px #ffc5d2, 0 0 10px #ffc5d2, 0 0 10px #ffc5d2, 0 0 10px #ffc5d2;
}
.request_btn a {
	color: #fff;
}
.request_btn:hover {
	opacity: 0.8;
}

/* main */

main {
	padding-top: 70px;
}
.main_img {
	position: relative;
	margin-bottom: 50px;
}
.main_img img {
	width: 100%;
	margin-bottom: 5px;
}
.main_text {
	writing-mode: vertical-rl;
	position: absolute;
	top: 10%;
	right: 10%;
	font-size: 7vw;
	letter-spacing: .1em;
	color: #fff;
	line-height: 1.3;
	text-shadow: -2px 2px 3px #333;
}
.main_sub {
	font-size: 3.8vw;
	text-align: center;
	text-shadow: 2px 2px 3px #bbb;
}
.plan {
	margin: 0 3% 50px;
}
.plan h2 {
	margin-bottom: 10px;
}
.plan p {
	margin-bottom: 8px;
	font-size: 3.8vw;
}
.plan_inner {
	margin: 0 3% 10px;
	padding: 3%;
	border: solid 2px #666;
	border-radius: 5px;
	line-height: 1.5;
}
.plan_inner h3 {
	width: 200px;
	height: 60px;
	margin: 0 auto 10px;
	border: solid 2px #666;
	border-radius: 60px;
	background: linear-gradient(#fff0f0, #ffc0c0);
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
}
.plan_ul {
	display: flex;
	justify-content: center;
}
.plan_ul li {
	margin-bottom: 3px;
	padding-left: 1.8em;
	background: url(../images/check.png) no-repeat left;
	border-bottom: solid 1px #ffc0c0;
	font-size: 1em;
}
.experience {
	margin-bottom: 50px;
	padding: 20px 0;
	background: url(../images/bg.png);
}
.experience h2 {
	margin: 0 3% 20px;
}
.experience_inner {
	margin-bottom: 20px;
}
.experience_inner:last-child {
	margin-bottom: 0;
}
.experience_img {
	margin-bottom: 5px;
	position: relative;
}
.experience_img img {
	width: 100%;
}
.experience_img h3 {
	writing-mode: vertical-rl;
	position: absolute;
	bottom: 10%;
	left: 6%;
	font-size: 7vw;
	letter-spacing: .1em;
	color: #fff;
	text-shadow: -2px 2px 3px #333;
}
.experience_text {
	margin: 0 3%;
}
.experience_copy {
	margin-bottom: 5px;
	font-size: 3.8vw;
	text-align: center;
	text-shadow: 2px 2px 3px #bbb;
}
.experience_review {
	padding: 2%;
	background: #fff;
	display: flex;
	justify-content: space-between;
	border: solid 2px #666;
	border-radius: 5px;
}
.review {
	width: 20%;
	font-size: 2.5vw;
}
.experience_review>p {
	font-size: 3vw;
}
.review_icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px #ffc5d2;
	border-radius: 50%;
}
.review p {
	margin: 0 auto;
	text-align: center;
}
.experience_review p {
	width: 76%;
}
.price {
	margin: 0 3% 50px;
}
.price h2 {
	margin-bottom: 20px;
}
.price h2 span {
	font-size: 80%;
}
.price dl {
	margin: 0 3%;
	border: solid 2px #666;
	font-size: 1.1em;
}
.price dt {
	padding: 8px 0 8px 5%;
	background: #fff0f0;
	font-weight: bold;
}
.price dd {
	padding: 4px 0 4px 10%;
}
.base_price span {
	font-size: 1.8em;
}
.schedule {
	display: none;
}
.contact {
	margin: 0 3% 50px;
}
.contact h2 {
	margin-bottom: 5px;
}
.contact h2 span {
	font-size: 80%;
}
#request>p {
	margin-bottom: 20px;
	font-size: 2.5vw;
	text-align: left;
}
.contact dt {
	margin-bottom: 10px;
	padding: 8px 10px;
	background: #fff0f0;
	font-size: 1.1em;
	font-weight: bold;
}
.contact dd {
	margin-bottom: 15px;
	padding: 0 3%;
}
.contact dd input,
.contact dd textarea {
	width: 100%;
	box-sizing: border-box;
}
.mast {
	margin-left: 5px;
	padding: 1px 5px;
	background: #f00;
	color: #fff;
	font-size: 0.7em;
	font-weight: normal;
}
.contact p {
	margin-bottom: 5px;
	font-size: 3vw;
	text-align: center;
}
.btn input {
	width: 100%;
	height: 50px;
	background: linear-gradient(#777, #000 , #777);
	border: none;
	border-radius: 50px;
	box-shadow: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.btn input:hover {
	text-shadow: 0 0 5px #ccc, 0 0 10px #ffc5d2, 0 0 10px #ffc5d2;
	opacity: 0.9;
}

/* footer */

footer {
	padding: 10px 3%;
	background: #fff0f0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-end;
}
.ft_logo img {
	width: 60px;
	border-radius: 3px;
}
.ft_copy {
	font-size: 2.8vw;
}
.to_top {
	opacity: 0.8;
	position: fixed;
	right: 3%;
	bottom: 10%;
	z-index: 20;
}
.to_top:hover {
	opacity: 0.7;
}
